<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            
            font-family:"Times New Roman", Times, serif;
            background-image: url('/static/background.png');
        </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <a href="/user_dashboard/{{ deck.deck_user.id }}" class="btn btn-primary float-end">Back to Deck</a>
        <h1 class="mb-4">Add Card</h1>
        <form action="/add_card/{{ deck.id }}" method="POST">
            <div class="mb-3">
                <label for="front" class="form-label">Question</label>
                <input type="text" class="form-control" id="front" name="front" required>
            </div>
            <div class="mb-3">
                <label for="back" class="form-label">Answer</label>
                <input type="text" class="form-control" id="back" name="back" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Card</button>
        </form>
    </div>
</body>
</html>
